.heading {
    text-decoration: underline;
}
.input-container {
    display: flex;
    justify-content: start;
}
.input-container input {
    padding: 0.5em;
    margin: 0 1em;
    border: 1px solid gray;
    border-radius: 4px;
    font-size: 1.2rem;
}
.button {
    color: white;
    background-color: rgb(32, 127, 236);
    border: 1px solid rgb(32, 127, 236);
    border-radius: 8px;
    padding: 1em;
    transition: 300ms;
}
.button:hover {
    background-color: white;
    color: rgb(32, 127, 236);
    cursor: pointer;
}
.button:disabled{
    filter: brightness(0.6);
    cursor:not-allowed;
}
.cards {
    display: flex;
    flex-wrap: wrap;
}